.contact {
  &__header {
  }

  &__body {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__form {
    max-width: 500px;
  }

  &__map-wrapper {
  }
}
