body {
  color: $text-color;
  background-color: #ffffff;
  font-size: 20px;
  overflow-x: hidden;

  &._lock {
    overflow: hidden;
  }
}

/*common
*********************************************/

// section {
//   @include adaptiv-value("padding-top", 60, 40, 1);
//   @include adaptiv-value("padding-bottom", 60, 40, 1);
// }

// blocks ***********************************//
@import "blocks/button";
@import "blocks/circle_button";
/*********************************************/

/************************************************Homepage****/
/*==================header=============*/
@import "blocks/header";
/*==================preview============*/
@import "blocks/prewiew";
/*=====================Swiper==========*/
@import "blocks/swiper";
/*========================More=========*/
@import "blocks/more";
/*====================advantage========*/
@import "blocks/advantage";
/*========================stay=========*/
@import "blocks/stay";
/*========================trustpilot===*/
@import "blocks/trustpilot";
/*========================about========*/
@import "blocks/about";
/*==================Blog===============*/
@import "blocks/blog";
/*==================footer=============*/
@import "blocks/footer";
