body {
  color: $text-color;
  background-color: #ffffff;
  font-size: 20px;
  overflow-x: hidden;

  &._lock {
    overflow: hidden;
  }
}

/*common
*********************************************/
/************************************************Homepage****/
/*==================header=============*/
@import "blocks/header";
/*==================preview============*/
@import "blocks/prewiew";
/*=====================Swiper==========*/
@import "blocks/swiper";
/*========================More=========*/
@import "blocks/more";
/*====================advantage========*/
@import "blocks/advantage";
/*========================stay=========*/
@import "blocks/stay";
/*========================trustpilot===*/
@import "blocks/trustpilot";
/*========================about========*/
@import "blocks/about";
/*==================Blog===============*/
@import "blocks/blog";
/*==================footer=============*/
@import "blocks/footer";

/************************************************Gallary****/
