body {
  color: $text-color;
  background-color: #ffffff;
  font-size: 20px;
  overflow-x: hidden;

  &._lock {
    overflow: hidden;
  }
}

/*common
*********************************************/

// section {
//   @include adaptiv-value("padding-top", 60, 40, 1);
//   @include adaptiv-value("padding-bottom", 60, 40, 1);
// }

/*header
*********************************************/
