.more {
  margin-bottom: 50px;
  &__title {
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__text {
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 24px;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 1.2px;
    padding: 0 46px;
  }
  &__wrap {
    background-color: #f0f4e9;
    max-width: 870px;
    margin: 0 auto;
    border-radius: 0px 0px 100px 100px;
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
