.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
  }

  &._active {
    overflow: auto;
    visibility: visible;
    &::before {
      opacity: 1;
    }
    .popup__body {
      //transition: all 0.3s ease 0.2s;
      transform: scale(1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    transform: scale(0);
    //transition: all 0.3s ease 0s;
    background-color: #f9fafb;
    padding: 64px;
    width: 100%;
    max-width: 960px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px 10px #75737333;
    position: relative;
    overflow: hidden;

    @media (max-width: $md3) {
      padding: 60px 20px 40px;
    }
  }

  &__gradient {
    height: 975px;
    width: 1200px;
    background: #ff7200;
    background: radial-gradient(circle, #ff7200 0, rgba(255, 255, 255, 0) 70%);
    opacity: 0.1;
    filter: blur(150px);
    position: absolute;
    top: -80px;
    right: -50%;
    z-index: -1;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    z-index: 30;
    color: #000;
    font-size: 55px;
    line-height: 100%;
    font-weight: 300;
  }

  &__title {
    @include title;
    line-height: 120%;
    padding-bottom: 16px;
    text-align: center;
    max-width: 700px;
    margin: auto;
    z-index: 1;
    position: relative;

    &_big {
      font-size: 48px;
    }

    &_small {
      font-size: 32px;
    }

    &_middle {
      font-size: 40px;
    }

    &_left {
      text-align: left;
      padding-bottom: 24px;
    }
  }

  &__description {
    font-size: 16px;
    max-width: 550px;
    text-align: center;
    margin: auto;
    padding-bottom: 60px;
    line-height: 130%;

    &_left {
      text-align: left;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: 1fr 464px;
    gap: 50px;

    @media (max-width: $md2) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 32px 40px;
    border-radius: 24px;

    .popup-form__title {
      @include adaptiv-font(32, 24, 1);
      line-height: 120%;
      @include title;
      text-align: center;
      padding-bottom: 24px;
    }

    @media (max-width: $md2) {
      max-width: 464px;
      margin: auto;
    }

    @media (max-width: $md3) {
      padding: 0;
      background: transparent;
    }
  }

  &__success {
    display: none;
    text-align: center;
  }

  &__success-title {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 8px;
    line-height: 130%;
  }

  &__success-description {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    line-height: 130%;
  }

  &__image {
    position: relative;

    &_default {
      padding: 32px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $md2) {
        display: none;
      }

      img {
        position: relative;
        z-index: 1;
      }

      .popup__title {
        @include adaptiv-font(32, 24, 1);
        padding-bottom: 0;
        margin: 0;
      }

      .popup__image-block {
        padding: 20px 0;
      }

      .popup__circle {
        &:nth-child(1) {
          width: 400px;
          height: 400px;
          top: -90px;
          left: -195px;
          filter: blur(80px);
          z-index: -1;
          opacity: 0.5;
        }

        &:nth-child(2) {
          background-image: url("../img/shared/ellipse_white.svg");
          width: 37px;
          height: 37px;
          top: 315px;
          left: 0;
        }
      }
    }
  }

  &_form {
    .popup__body {
      max-width: 1030px;
      padding: 60px;

      @media (max-width: $md3) {
        padding: 60px 20px 40px;
      }
    }
  }

  &_contact-form {
    .popup__body {
      max-width: 540px;
      padding: 56px;
      text-align: center;

      @media (max-width: $md3) {
        padding: 30px;
      }
    }

    .popup__gradient {
      display: none;
    }

    .popup__close-cross {
      display: none;
    }

    .popup__title {
      font-size: 24px;
      padding-bottom: 16px;
    }

    .popup__description {
      padding-bottom: 56px;
      line-height: 150%;

      a {
        font-weight: 600;
      }
    }
  }

  &__slava {
    text-align: center;
    padding-bottom: 48px;

    img {
      padding-bottom: 16px;
    }
  }

  &_magnet,
  &_calculator {
    .popup__body {
      max-width: 768px;
      padding: 88px 56px;
      text-align: center;
      position: relative;
      background: linear-gradient(
          69.82deg,
          #ffedde 1.64%,
          rgba(255, 237, 222, 0.2) 62.45%,
          #ffeee0 97.32%
        ),
        #ffffff;

      @media (max-width: $md3) {
        padding: 56px 30px;
      }
    }

    .popup__gradient {
      display: none;
    }

    .popup__title {
      font-size: 40px;
      padding-bottom: 24px;
      line-height: 120%;
      max-width: 530px;
      margin: auto;
    }

    .popup__description {
      padding-bottom: 56px;
      line-height: 150%;
      max-width: 530px;
      margin: auto;

      a {
        font-weight: 600;
      }
    }

    .popup__circles {
      .popup__circle {
        &:nth-child(1) {
          width: 80px;
          height: 80px;
          bottom: 65px;
          left: 60px;
        }

        &:nth-child(2) {
          width: 48px;
          height: 48px;
          bottom: 50px;
          right: 100px;
        }

        &:nth-child(3) {
          background-image: url("../img/shared/ellipse_white.svg");
          width: 36px;
          height: 36px;
          bottom: 170px;
          right: 50px;
        }
      }

      @media (max-width: $md3) {
        display: none;
      }
    }
  }
}
